<div>
    <div class="Header" align ="center">
      <h1>This feature is not yet implemented</h1>
    </div>
  </div>
<div class="container-login">
	<div id="right" class="modal-body" style="float: left;" >
		<h2>Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Send me reset password instructions", class: "btn btn-primary"%>
		  </div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>
