<div class="container">
  <h1>Edit Contact</h1>
  <%= form_for(@contact) do |f| %>  
     <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@contact.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="container-fluid" >
      <div>
        <%= f.label :firstname %>
        <%= f.text_field :firstname , type: "text", class: "form-control",  placeholder: "FirstName"%>
        <%= f.label :lastname %>
        <%= f.text_field :lastname , type: "text", class: "form-control",  placeholder: "LastName"%>
      </div>
     
      <div>
        <%= f.label :address %>
        <%= f.text_area :address , type: "text", class: "form-control",  placeholder: "Address" %>
      </div>
      <div>
        <%= f.label :city %>
        <%= f.text_area :city , type: "text", class: "form-control",  placeholder: "City Name" %>
      </div>
      <div>
        <%= f.label :state %>
        <%= f.text_area :state , type: "text", class: "form-control",  placeholder: "State Name" %>
      </div>
      <div>
        <%= f.label :country %>
        <%= f.text_area :country , type: "text", class: "form-control",  placeholder: "Country Name" %>
      </div>
      <div>
        <%= f.label :zip %>
        <%= f.text_area :zip , type: "text", class: "form-control",  placeholder: "Zip Code" %>
      </div>

      <div>
        <%= f.label :email %>
        <%= f.text_field :email , type: "email", class: "form-control", placeholder: "Email"%>
      </div>
      <div>
        <%= f.label :phone %>
        <%= f.text_field :phone , type: "text", class: "form-control", placeholder: "1234567890"%>
      </div>
     
      <div class="container", align="center">
        <div style="margin-left: auto; margin-right: auto;padding: 10px">
        <%= f.submit "Add", class: "btn btn-primary" ,style: "font-size: 20px"%>
        <%= link_to 'Back', contacts_path, class: "btn btn-primary" ,style: "font-size: 20px"%>
      </div>
      </div>
    </div>
  <% end %>
</div>
