<div class="container">
  <h1>Edit Contact</h1>
  <%= form_for(@contact) do |f| %>  
     <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2>
          Contact Not Created (<%= pluralize(@contact.errors.count, "error") %>)
        </h2>
        <ul>
          <% @contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="container-fluid" >
      <table class="table table_edit", align="center">
      <tbody>
        <tr>
        <td>
          <%= f.label :firstname %>
        </td>
        <td>
          <%= f.text_field :firstname , type: "text", class: "form-control",  placeholder: "FirstName"%>
        </td>
        <td>
          <%= f.label :lastname %>
        </td>
        <td>
          <%= f.text_field :lastname , type: "text", class: "form-control",  placeholder: "LastName"%>
        </td>
      </tr>
     
      <tr>
        <td>
          <%= f.label :address %>
        </td>
        <td colspan="3">
          <%= f.text_area :address , type: "text", class: "form-control",  placeholder: "Address" %>
        </td>        
      </tr>
      <tr>
        <td>
          <%= f.label :phone %>
        </td>
        <td>
          <%= f.text_field :phone , type: "text", class: "form-control", placeholder: "1234567890"%>
        </td>
      </tr>
      <tr>
       <td >
          <%= f.label :email %>
       </td>
       <td colspan="3">
          <%= f.text_field :email , type: "email", class: "form-control", placeholder: "Email"%>
       </td>

      </tr>
      <tr>
        <td>
          <%= f.label :city %>
        </td>
        <td>
          <%= f.text_area :city , type: "text", class: "form-control",  placeholder: "City Name" %>
        </td>
      
        <td>
          <%= f.label :state %>
        </td>
        <td>
          <%= f.text_area :state , type: "text", class: "form-control",  placeholder: "State Name" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :country %>
        </td>
        <td>
          <%= f.text_area :country , type: "text", class: "form-control",  placeholder: "Country Name" %>
        </td>
      
        <td>
          <%= f.label :zip %>
        </td>
        <td>
          <%= f.text_area :zip , type: "text", class: "form-control",  placeholder: "Zip Code" %>
        </td>
      </tr> 
      
     
      </tbody>
      
    </table>
     
      <div class="container", align="center">
        <div style="margin-left: auto; margin-right: auto;padding: 10px">
        <%= f.submit "Update", class: "btn btn-primary" ,style: "font-size: 20px"%>
        <%= link_to 'Back', contacts_path, class: "btn btn-primary" ,style: "font-size: 20px"%>
      </div>
      </div>
    </div>
  <% end %>
</div>
