

<div id="nav">
	<nav class="navbar navbar-default">
	  <div class="container-fluid" style="padding: 5px;">
	    <div class="navbar-header">	      
	      <a class="nav navbar-nav" href="#" ><img class="nav navbar-nav", align="center"       
       src="http://icons.iconarchive.com/icons/trysoda/soda-red/256/Address-book-icon.png", style="height: 40px;width: 40px;"/></a>
	    </div>
	    <div >
	      <ul class="nav navbar-nav">
	        <li ><%= link_to "Add Contact", new_contact_path ,class: "nav navbar-nav", style: "font-size: 20px;"%></li>
	      </ul>
	    </div>
	    <div class="navbar-text pull-right">
			<% if user_signed_in? %>
			  Logged in as <strong><%= current_user.email %></strong>.
			  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
			  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		</div> 
	  </div>
	</nav>
</div>
<div class="container-table">
	<table class="table table-bordered table-striped", style="width: 80%;", align="center"  >
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Name</th>
	      <th>Email</th>
	      <th>Phone </th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	<% idCount=0%> 
	<% @contacts.each do |c| %>
	<% idCount+=1%>
		<tr>
			<th>
				<%= idCount %>	
			</th>	
			<td>
				<%= c.firstname+" "+c.lastname %>	
			</td>
			
			<td>
				<%= c.email %>	
			</td>
			<td>
				<%= c.phone %>	
			</td>
			  
			<td>
			  <%= link_to "", contact_path(c) ,class: "glyphicon glyphicon-info-sign"%>
			  <%= link_to "", edit_contact_path(c), class: "glyphicon glyphicon-edit" %>
			  <%= link_to "", contact_path(c), method: :delete, data: { confirm: 'Are you sure?' }, style: "color: red;",class: "glyphicon glyphicon-trash" %>
			</td>
		</tr>
	<% end %>
	  </tbody>
	</table>
</div>
	
