<div class="container">
	<h1>Contact Details</h1>
		<div class="container-fluid" >
				<table class="table table-bordered table-striped">
					<tbody>
						<tr>
						<td>
							<strong>Name:</strong>
						</td>
						<td>
							<%= @contact.firstname+" "+ @contact.lastname %>
						</td>
						  
						</tr>
						 
						<tr>
						  <td>
						  	<strong>Address:</strong>
						  </td>
						  <td>
						  	<%= @contact.address %>
						  </td>
						  
						</tr>
						<tr>
						  <td>
						  	<strong>City:</strong>
						  </td>
						  <td>
						  	<%= @contact.city %>
						  </td>
						</tr>
						<tr>
						  <td>
						  	<strong>State:</strong>
						  </td>
						  <td>
						  	<%= @contact.state %>
						  </td>
						</tr>
						<tr>
						  <td>
						  	<strong>Country:</strong>
						  </td>
						  <td>
						  	<%= @contact.country %>
						  </td>
						</tr>
						<tr>
						  <td>
						  	<strong>Zip:</strong>
						  </td>
						  <td>
						  	 <%= @contact.zip %>
						  </td>
						 
						</tr>

						<tr>
						  <td>
						  	<strong>Email:</strong>
						  </td>
						  <td>
						  	<%= @contact.email %>
						  </td>
						  
						</tr>

						<tr>
						  <td>
						  	<strong>Phone:</strong>
						  </td>
						  <td>
						  	<%= @contact.phone %>
						  </td>
						  
						</tr>
					</tbody>
				</table>
			<div class="container", align="center">
        		<div style="margin-left: auto; margin-right: auto;padding: 10px">
					<%= link_to "Edit", edit_contact_path(@contact) , class: "btn btn-primary" ,style: "font-size: 20px"%>
					<%= link_to 'Back', contacts_path , class: "btn btn-primary",style: "font-size: 20px"%>
				</div>
			</div>
		</div>
</div>
	

	